<div class="row">
    <div class="col-xs-12 col-sm-8  col-sm-offset-2">
      <h2>Build Out Your Profile</h2>

      <%= form_for ([@user, @page]) do |f| %>
        <div class= "form-group">
          <label>Select About or Contact: </label>
          <%= f.text_field :name, placeholder: "About or Contact" , class: "form-control" %>
        </div>
        <div class= "form-group">
          <label>Add Content: </label>
          <%= f.text_area :content , class: "form-control" %>
        </div>
          <div class= "form-group">
          <%= f.submit "Create Page", class: "form-control btn btn-primary"  %>
        </div>
      <% end %>
    </div>
</div>
