<div class="container">
  <h1>About This Site</h1>
  <p>This site was made by the <em><strong>amazing:</strong></em></p>
  <ul>
    <li>Connie Chang</li>
    <li>Alli Cernoch</li>
    <li>Steph Monette</li>
    <li>Cameron Jacoby</li>
    <li>Palmer Sanderson</li>
  </ul>
</div>