<% if flash[:post_created] %>
  <p class="flash-success">Post created!</p>
<% end %>
<% if flash[:post_edited] %>
  <p class="flash-success">Post edited!</p>
<% end %>

<%= render partial: "post", :locals => {:post => @post, :user => @user } %>

<%= render partial: "tags/tags", :locals => {:post => @post } %>

<div>
  <%= render partial: "form", :locals => {:post => @post, :user => @user, :comment => @comment, tags: @post_tags}  %>
</div>
