<% if flash[:post_created] %>
  <p class="flash-success">Post created!</p>
<% end %>
<% if flash[:post_edited] %>
  <p class="flash-success">Post edited!</p>
<% end %>

<%= render partial: "post", :locals => {:post => @post, :user => @user } %>

<p id="post-tags">
  Tags:
  <% @post.tags.each do |tag| %>
    <a href="/tags/<%= tag[:id] %>">#<%= tag.name %></a>
  <% end %>
</p>

<div>
  <%= render partial: "form", :locals => {:post => @post, :user => @user, :comment => @comment, tags: @post_tags}  %>
</div>
