@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

$hover: rgba(131,152,142, 1);
$light: rgba(230,249,188, 0.5);
$dark: rgba(58,17,28,1);
$border: 1px solid #ccc;

body#microblog {
  font-family: 'Open Sans', sans-serif;
  color: $dark;
  background: url(halftone.png) 0 0 repeat;

  /* General Styling */
  a {
    text-decoration: none;
    color: $dark;
    &:hover{ color: $hover;}
  }
  .header {
    padding: 50px 0;
    border-bottom: $border;
    h1 { text-align: center; }
  }
  .footer {
    margin-top: 50px;
    padding: 20px 0;
    border-top: $border;
    text-align: center;
  }
  span.read-more {
    display: inline-block;
    margin-left: 20px;
  }
}

#main-content {

  /* Users */
  img.profile-pic {
    border: 1px solid #ccc;
    margin-top: 20px;
    max-width: 100%;
    text-align: center;
  }
  .user-row {
    border-bottom: $border;
    padding-bottom: 20px;
  }
  .user-buttons{
    margin-top: 10px;
  }

  ul.user-post {
    margin: 0 0 20px 0;
    padding: 0;
    li{
      list-style: none;
      padding: 20px 0;
      border-bottom: $border;
      margin: 0;
      font-size: 14px;
    }
  }
  /* Pages */
  /* Posts */

  p.subcomment {
    padding: 5px 0 0 25px;
    span {
      padding-right: 10px;
    }
  }
  h5.say-something{
    padding-top: 15px;
    font-weight: 700;
    border-top: $border;
  }
  .post-content {
    border-bottom: $border;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &.lighten {
      opacity: 0.6;
    }
  }
  span.comment-form-toggle {
    cursor: pointer;
  }
  form.comment-on-comment {
    display: none;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  p.flash-success {
    color: #428BCA;
    margin-top: 20px;
  }
  p.flash-error {
    color: #DE0000;
  }

  /* Tags */
  .welcome-box{
    margin-bottom: 20px;
    a {
      margin-right: 20px;
      display: inline-block;
    }
  }
  .tag {
   display: inline-block;
  }
}
