<!DOCTYPE html>
<html>
<head>
  <title>Our Microblog Lab!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="microblog">
  <div class="container-fluid">
    <div class="row header">
      <div class="col-sm-8 col-sm-offset-2">
        <h1><a href="/">Name of Microblog</a></h1>
      </div>
    </div>
    <div class="row" id="main-content">
     <div class="col-sm-8 col-sm-offset-2">

        <%= yield %>

      </div>
    </div>
    <div class="row footer">
      <div class="col-sm-8 col-sm-offset-2">
        <h4>Name of Microblog</h4>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/users" class="btn btn-default btn-sm">View All Users</a>
        <a href="/users/new" class="btn btn-default btn-sm">Add New User</a>
        <a href="/about_us" class="btn btn-default btn-sm">About Us</a>
      </div>
    </div>
  </div>
</body>
</html>
